*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:"Poppins",sans-serif;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
    
  
}


.container .background{
    background:url(./images2/Rectangle.png) ;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 900px;
    
}
.container .second-container{
    margin:20px 50px;
}

    
.container img{
    width: 25%;
}
.container .account{
    font-size: 25px;
    padding-top: 30px;
}
.container .first-p{
    color: #939393;
}

.container .input-name-email{
    padding-top: 30px;
    padding-bottom: 5px;

    
}
.container #name-email-password{
    width: 80%;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #939393;
}
.container .input-password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 5px;
   
}
.container .img-logo{
    display: flex;
    padding-right: 120px;
   
    
}


.container .hide-logo{
    width: 24px;
    height: 24px;
}
.container .password-forms{
    font-size: 14px;
    color: #939393;
}
.container .link-text{
    padding-top: 30px;
    color: #939393;
}
.container a{
    color: black;
}
.container .for-button{
    padding-top: 30px;
   
   
   
}
.container .button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.container button{
    width: 300px;
    height: 60px;
    background-color: white;
    border: 1px solid #939393;
    border-radius: 15px;
    
}

.container .robot-logo{
    width: 40px;
    height: 40px;
}
.container .last-button{
    padding-top: 40px;
    
}
.container .create{
    border-radius: 34px;
    background-color: #999797;
    color: white;
    font-size: 20px;
    width: 260px;
    
}
.container .last-p{
    color: #939393;
    padding: 5px;
}
@media screen  and (max-width:600px) {
     .container{
        width:400px;
        height: 100%;
        
    }
    .container .background{
        width: 200px;
        height: 1004px;
    }
    .container .second-container{width: 200px;}
.container .img-logo{
    padding-right: 10px;
}
.container #name-email-password{
    width: 100%;
}
.container button{
    width: 100%;
}
.container .create{
    width: 100%;
}
}



 







